<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="board.css") }}'>
      <script>
          $(document).ready(function(){
              function blockButtons(){
                $('.card').css('pointer-events', 'none');
                $('#end_turn').css('pointer-events', 'none');
                $('.switch').css('pointer-events', 'none');
              }

              function buildClue() {
                 $('#turn_text').html("Clue is creating ...");
                 $.ajax({
                    type:'POST',
                    url: "{{ url_for('clue')}}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    data: JSON.stringify(board),
                    success: function(clueData){
                        clueData = JSON.parse(clueData);
                        board[0]["invalid_guesses"].push(clue);
                        let content = `Clue: ${clueData.clue} (${clueData.targets.length})`;
                        $("#clue_text").html(content)
                        guessesLeft = targets.length + 1;
                        updateCardBorders(cheat);
                        makeGuess();
                    }
                });
              };

              function makeGuess() {
                $('#turn_text').html("Guess!");
                blockButtons();
                $('.card').css('pointer-events', 'auto');
                $('#end_turn').css('pointer-events', 'auto');
                $('.switch').css('pointer-events', 'auto');
              }

              function updateCardBorders(check) {
                for (let i = 0; i < targets.length; i++) {
                  id = targets[i];
                  if (check || board[id].active) {
                      $("#"+id).css({
                      "color": "white",
                      "text-shadow": text_shadow});
                  }
                  else {
                    $("#"+id).css({
                        "color": "black",
                        "text-shadow": ""
                    });
                  }
                }
              }

              //Update card
              function updateCard(id) {
                board[id].active = true;
                $("#"+id).css({
                    "color": "white",
                    "text-shadow": text_shadow,
                    "background-color": board[id].colour
                });
                if (board[id].type === "blue") {
                    blueLeft -= 1;
                    $('#blue').html(blueLeft);
                } else if (board[id].type === "red") {
                    redLeft -= 1;
                    $('#red').html(redLeft);
                } else if (board[id].type === "neutral"){
                    neutralLeft -= 1;
                } else if (board[id].type === "assassin"){
                    assassinLeft -= 1;
                }
              }

              //Check if the game has ended
              function checkEnd() {
                if (end) {
                    return;
                }
                if (blueLeft === 0) {
                  $('#turn_text').html("You win :)");
                  end = true;
                }
                else if (redLeft === 0 || assassinLeft === 0) {
                  $('#turn_text').html("You lose :(");
                  end = true;
                }
                if (end) {
                  blockButtons();
                  for (let i = 1; i < 26; i++) {
                    if (!board[i].active) {
                        updateCard(i);
                    }
                  }
                }
                return end;
              }

              //Computer turn
              function computerTurn() {
                blockButtons();
                $.ajax({
                   type:'POST',
                   url: "{{ url_for('computer_turn')}}",
                   contentType: "application/json; charset=utf-8",
                   dataType: "html",
                   data: JSON.stringify(board),
                   success: async function(sequence){
                     sequence = JSON.parse(sequence).sequence;
                     sequenceLength = sequence.length;
                     for (let i = 0; i < sequenceLength; i++) {
                        updateCard(sequence[i]);
                        if (checkEnd()) {
                            break;
                        }
                     }
                     if (!checkEnd()) {
                        buildClue();
                     }
                   }
                });
              }

              /*Setup*/
              let board = {{board|tojson|safe}};
              let guessesLeft = 0;
              let blueLeft = 9;
              let redLeft = 8;
              let neutralLeft = 7;
              let assassinLeft = 1;
              let cheat = false;
              let targets = [];
              let clue = '';
              let end = false;
              let sequenceLength = 0;
              let id = 0;
              let text_shadow = "0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black";

              //Set the initial state
              buildClue();

              /*Click events*/
              $('.card').click(function() {
                 id = $(this).attr('id');
                 if (!board[id].active) {
                    guessesLeft -= 1;
                    updateCard(id);
                    checkEnd();
                    if (guessesLeft === 0 || board[id].type !== "blue") {
                        computerTurn();
                    }
                 }
              });

              //Reset button behaviour
              $('#reset').click(function() {
                 $.ajax({
                    type:'POST',
                    url: "/",
                    dataType: "html",
                    success: function(resp){
                      $("body").html(resp);
                    }
                });
              });

              //End turn button behaviour
              $('#end_turn').click(function() {
                computerTurn();
              });
            });
      </script>
   </head>
   <body>
      <div id = "application">

         <div class = "wrapper" style="--split: 5;" id = "status">
            <div class="symbol_button" id="reset">
               <div class="symbol_button_text">Reset</div>
            </div>
            <div id="remaining">
               <span class="remaining_text" id="blue" style="--colour:blue">9</span>
               &nbsp;–&nbsp;
               <span class="remaining_text" id="red" style="--colour:red">8</span>
            </div>
            <div></div>
         </div>

         <div class="wrapper" style="--split: 5;" id="board">
            {% for word in board[1:] %}
               <div class="card" id="{{word.id}}">
                  {{word.name}}
               </div>
            {% endfor %}
         </div>

      </div>

      <div class="wrapper" style="--split: 5;" id = "footer">
         <div id="clue_text"></div>
         <div id="turn_text"></div>
      </div>
   </body>
</html>